@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Orbitron", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: theme("colors.cyber-secondary");
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "Orbitron", "system-ui", sans-serif;
  background-color: #242424; /* fallback color */
  background-image: linear-gradient(
      45deg,
      #0b0b0b 60%,
      theme("colors.cyber-primary")
    ),
    radial-gradient(circle at 75% 75%, transparent 30%, #242424 70%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    0 0,
    bottom left,
    bottom left;
  background-size:
    100% 100%,
    30% 30%,
    100% 100%;
  background-blend-mode: normal, screen, normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color theme("colors.cyber-secondary");
}
button:hover {
  border-color: theme("colors.cyber-secondary");
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* sm: apply styles for screens ≥640px */
@media (min-width: 640px) {
  span,
  body,
  p,
  label {
    @apply text-base;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}

/* md: apply styles for screens ≥768px */
@media (min-width: 768px) {
  span,
  body,
  p,
  label {
    @apply text-xl;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
}

/* lg: apply styles for screens ≥1024px */
@media (min-width: 1024px) {
  span,
  body,
  p,
  label {
    @apply text-xl;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

/* Firefox */
@-moz-document url-prefix() {
  body {
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
